dem
kek/kek.txt
lel/kek.txt
TESTOWANIE/docel/pl1
TESTOWANIE/docel/pl2
TESTOWANIE/docel/pl3
TESTOWANIE/zrodlo/pl1
TESTOWANIE/zrodlo/pl2
TESTOWANIE/zrodlo/pl3
TESTOWANIE/zrodlo/pl1qweqwe
TESTOWANIE/zrodlo/zdir1/pliczekwfolderze
TESTOWANIE/docel/zdir1/pliczekwfolderze